page-myaccount {
    .header_icon {
        margin: auto;
        font-size: 2.5rem;
    }
    .first-row {
        margin-top: 0%;
    }
    .normal-margin {
        margin-top: 2%;
    }
    .amount-span {
        margin: auto;
        font-size: 1.6rem;
        font-weight: bold;
    }
    .dollar-amount-span {
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
    }
    .dollar-date-span {
        margin: auto;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .download-pay {
        margin-top: 15%;
        font-size: 1.3rem !important;
    }
    .rus-pay {
        margin-top: 15%;
        font-size: 1.3rem !important;
    }
    .rus-pay ion-col {
        width: 100% !important;
        max-width: 100%;
        flex: unset !important;
    }
    .button-style1 {
        height: 46px;
        color: white;
    }
    .button-style2 {
        height: 46px;
        color: white;
    }
    .my_detail {
        margin-top: 10%;
    }
}