page-bill-history {
    .main-row {
        margin-top: 0%;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        background-color: white;
    }
    .detail-span {
        font-weight: bold;
    }
}