page-bill-history {

    .header_class{
        background-color: white;
        box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
    }

    .header_span{
        color: black;
        font-weight: bold;
    }

    .header_back_icon{
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        font-size: 2.5rem;
    }

    .bill_content{
        background-color: #fafafa;
    }

    .main_row{
        margin-top: 0%;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        background-color: white;
    }

    .other_row{
        margin-top: 5%;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        background-color: white;
    }

    .left_col{
        text-align: left;
    }

    .right_col{
        text-align: right;
    }

    .name_span{
        width: 100%;
        font-size: 1.7rem;
        color: #3982a3;
        font-weight: bold;
    }

    .detail_span{
        width: 100%;
        font-size: 1.7rem;
        margin-top: 5px;
        font-weight: bold;
    }

    .down_button_class{
        background-color: #3881a2;
        color: white;
        border-radius: 10px;
        text-transform: initial;
        width: 80%;
        margin-left: auto;
        height: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .download_image{
        width: 20px;
        height: 20px;
        margin: auto;
        margin-right: auto;
    }

    .button_span_name{
        margin: auto;
        font-size: 1.5rem;
    }

    .non_padding{
        padding: 0px;
    }
    
    .button_name{
        margin-left: -15px;
    }

}
