page-topup-history {
    .header-row {
        height: 80px !important;
    }
    .main-row {
        margin-top: 0%;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 5px;
        background-color: white;
    }
    .other-row {
        margin-bottom: 5%;
    }
    .name-span {
        font-size: 1.4rem;
    }
    .detail-span {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .right-col .detail-span {
        font-size: 1.3rem;
    }
}