page-forgot-password {
    .forgot-password-row {
        margin-top: 5%;
        .payment-title-span {
            width: 100%;
            font-size: 17px;
            color: white;
            font-weight: bold;
        }
    }
    .forgot-detail-row {
        position: relative;
    }
    .error-message {
        margin-top: -15px;
        color: #f44336;
        font-size: 12px;
    }
    .add-cancel {
        margin-top: 5%;
        color: white;
        .button-row {
            width: 100%;
            .button-style1 {
                border-radius: 25px;
                width: 100%;
                font-weight: bold;
                background-color: #3982a3;
                height: 40px;
                font-size: 16px;
            }
            .button-style2 {
                border-radius: 25px;
                width: 100%;
                font-weight: bold;
                background-color: #3ba464;
                height: 40px;
                font-size: 16px;
            }
        }
    }
}