page-newpayment-check {

    .content_class{
        background: rgba(0, 0, 0, 0.7)
    }

    .main_row{
        margin-top: 50%;
        background: white;
        border-radius: 5px;
    }

    .open_row{
        height: 50px;
        padding-left: 5px;
    }

    .border_row{
        border-bottom: 1px solid #ddd;
    }

    .close_row{
        height: 50px;
        padding-left: 5px;
    }

    .open_span{
        font-size: 17px;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }

    .close_span{
        font-size: 17px;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }

}
