page-newpayment-check {
    .content-class {
        background: rgba(0, 0, 0, 0.7)
    }
    .main-row {
        margin-top: 50%;
        background: white;
        border-radius: 5px;
    }
    .open-row {
        height: 50px;
        padding-left: 5px;
    }
    .border-row {
        border-bottom: 1px solid #ddd;
    }
    .close-row {
        height: 50px;
        padding-left: 5px;
    }
    .open-span {
        font-size: 17px;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }
    .close-span {
        font-size: 17px;
        font-weight: bold;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }
}