page-change-status {
    .header-row {
        height: 60px !important;
    }
    .mat-form-field {
        width: 100%;
    }
    .button-style1 {
        height: 40px;
        font-size: 1.6rem;
    }
    .button-style2 {
        height: 40px; 
    }
    .add-cancel {
        margin-top: 5%;
    }
}