page-paynow-check {

    .content_class{
        background: rgba(0, 0, 0, 0.7);
    }

    .main_row{
        margin-top: 50%;
        background-color: white;
    }

    .title_row{
        height: 60px;
        background-color: #080808;
    }

    .title_span{
        color: white;
        margin: auto;
        font-size: 17px;
    }

    .button_row{
        background: #717171;
        height: 50px;
    }

    .button_class{
        background: #a7a7a7;
        box-shadow: unset;
        width: 40%;
        margin: auto;
        color: black;
        text-transform: initial;
        height: 30px;
    }

}
