page-settings {
    .header_icon {
        margin: auto;
        font-size: 2.5rem;
    }
    .setting-content {
        background-color: #f3f3f3;
    }
    .main-row {
        background-color: white;
        border-bottom: 2px solid #ddd;
        height: 50px;
    }
    .other-row {
        background-color: white;
        height: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
        border: none;
        border-radius: unset;
        padding: 0px;
    }
    .left-align {
        text-align: right;
    }
    .lock-image {
        width: 20px;
        height: 20px;
        margin: auto;
        opacity: 0.5;
    }
    .change-password {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 17px;
        color: black;
        opacity: 0.5;
        width: 100%;
    }
    .mat-select-trigger {
        margin-top: 10px;
    }
    .sel-lng {
        padding-left: 10px;
    }
}