<!--
  Generated template for the MydetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header_class">

  <ion-row class="header_row">
    <ion-col col-2>
      <ion-row class="full_height">
        <ion-icon name="md-menu" menuToggle class="header_icon"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col col-8>
      <ion-row class="full_height">
        <span class="header_span">
          {{ 'my_detail' | translate }}
        </span>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-header>


<ion-content padding>

  <ion-row class="main_body">
    <ion-row class="normal_row">
      <ion-col col-10>
        <ion-row class="full_height">
          <span class="title_span">
            {{ 'name' | translate }}
          </span>
          <span class="detail_span" *ngIf="!change_state.username">
            {{user_Data.username}}
          </span>
          <mat-form-field class="example-full-width" *ngIf="change_state.username">
            <input matInput type="text" placeholder="{{ 'username' | translate }}" [(ngModel)]="user_Data.username" required name="username">
            <mat-error>
              {{ 'username_is_required' | translate }}
            </mat-error>
          </mat-form-field>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full_height" *ngIf="!change_state.username" (click)="change_user('username')">
          <img src="assets/imgs/pencil.png" class="pencil_class" />
        </ion-row>
        <ion-row class="full_height" *ngIf="change_state.username" (click)="change_user('username')">
          <span class="change_span">
            {{ 'ok' | translate }}
          </span>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="border_row">
    </ion-row>

    <ion-row class="normal_row">
      <ion-col col-10>
        <ion-row class="full_height">
          <span class="title_span">
            {{ 'address' | translate }}
          </span>
          <span class="detail_span" *ngIf="!change_state.address">
            {{user_Data.address}}
          </span>
          <mat-form-field class="example-full-width" *ngIf="change_state.address">
            <input matInput type="text" placeholder="{{ 'address' | translate }}" [(ngModel)]="user_Data.address" required name="address">
            <mat-error>
              {{ 'address_is_required' | translate }}
            </mat-error>
          </mat-form-field>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full_height" *ngIf="!change_state.address" (click)="change_user('address')">
          <img src="assets/imgs/pencil.png" class="pencil_class" />
        </ion-row>
        <ion-row class="full_height" *ngIf="change_state.address" (click)="change_user('address')">
          <span class="change_span">
            {{ 'ok' | translate }}
          </span>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="border_row">
    </ion-row>

    <ion-row class="normal_row" *ngIf="!change_state.email">
      <ion-col col-10>
        <ion-row class="full_height">
          <span class="title_span">
            {{ 'email' | translate }}
          </span>
          <span class="detail_span">
            {{user_Data.email}}
          </span>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full_height" (click)="change_user('email')">
          <img src="assets/imgs/pencil.png" class="pencil_class" />
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="normal_row" *ngIf="change_state.email">
      <form #comProfileForm="ngForm" id="comProfileForm" (ngSubmit)="completeAddCompany(comProfileForm)" novalidate>
        <ion-row>
          <ion-col col-10>
            <ion-row class="full_height">
              <span class="title_span">
                {{ 'email' | translate }}
              </span>
              <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="{{ 'email' | translate }}" [formControl]="emailFormControl" [(ngModel)]="user_Data.email" required
                  name="email">

                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  {{ 'valid_email_address' | translate }}
                </mat-error>

                <mat-error *ngIf="emailFormControl.hasError('required')">
                  {{ 'email_is_required' | translate }}
                </mat-error>

              </mat-form-field>
            </ion-row>
          </ion-col>
          <ion-col col-2>
            <ion-row class="full_height button">
              <button class="change_span">
                {{ 'ok' | translate }}
              </button>
            </ion-row>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>

    <ion-row class="border_row">
    </ion-row>

    <ion-row class="normal_row">
      <ion-col col-10>
        <ion-row class="full_height">
          <span class="title_span">
            {{ 'contact' | translate }}
          </span>
          <span class="detail_span" *ngIf="!change_state.phone">
            +{{user_Data.phone}}
          </span>
          <mat-form-field class="example-full-width" *ngIf="change_state.phone">
            <input matInput type="number" placeholder="{{ 'phone_number' | translate }}" [(ngModel)]="user_Data.phone" required name="phone">
            <mat-error>
              {{ 'phone_number_is_required' | translate }}
            </mat-error>
          </mat-form-field>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full_height" *ngIf="!change_state.phone" (click)="change_user('phone')">
          <img src="assets/imgs/pencil.png" class="pencil_class" />
        </ion-row>
        <ion-row class="full_height" *ngIf="change_state.phone" (click)="change_user('phone')">
          <span class="change_span">
            {{ 'ok' | translate }}
          </span>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-row>

</ion-content>