page-signin {

    .logo_row{
        margin-top: 10%;
    }
    .margin_content{
        background-color: #fafafa;
    }
    .logo_class{
        width: 70%;
        height: 100%;
        margin: auto;
    }
    .username_row{
        margin-top: 20%;
        width: 90%;
        margin-left: 5%;
    }
    .input_class{
        border-bottom: 1px solid #2e2e2e;
        margin-left: auto;
        margin-right: auto;
    }
    .password_row{
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
    }
    .login_row{
        margin-top: 20%;
    }
    .button_class{
        width: 90%;
        margin: auto;
        text-transform: initial;
        border-radius: 25px;
        background-color: #3a83a4;
        font-weight: bold;
        color: white;
        height: 45px;
        font-size: 20px;
    }
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
      
    .example-full-width {
        width: 100%;
    }
    .signup_row{
        margin-top: 10%;
    }
    .sign_up_span{
        margin: auto;
        font-size: 1.5rem;
    }
    .sign_up_page{
        color: blue;
        cursor: pointer;
    }

}
