page-signin {
    .logo-row {
        margin-top: 10%;
    }
    .margin-content {
        background-color: #fafafa;
    }
    .logo-class {
        width: 70%;
        height: 100%;
        margin: auto;
    }
    .username-row {
        margin-top: 20%;
        width: 90%;
        margin-left: 5%;
    }
    .input_class {
        border-bottom: 1px solid #2e2e2e;
        margin-left: auto;
        margin-right: auto;
    }
    .signup-row {
        margin-top: 10%;
    }
}