page-change-plan {
    .header-row {
        height: 60px !important;
    }
    .mat-form-field {
        width: 100%;
    }
    .button-style2 {
        height: 40px;
    }
    .add-cancel {
        margin-top: 5%;
    }
}