<!--
  Generated template for the MyServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header_class">

  <ion-row class="header_row">
    <ion-col col-2>
      <ion-row class="full_height">
        <ion-icon name="md-menu" menuToggle class="header_icon"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col col-8>
      <ion-row class="full_height">
        <span class="header_span">
          {{ 'my_service' | translate }}
        </span>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-header>


<ion-content padding class="myservice_content">

  <ion-row class="main_row margin_top" *ngFor="let list of service_Data; let i = index">
    <ion-row class="type_number_date">
      <ion-col col-3 class="left_col">
        <ion-row class="full_height">
          <span class="name_span">
            {{ 'type' | translate }}
          </span>
          <span class="detail_span">
            {{list.type}}
          </span>
        </ion-row>
      </ion-col>
      <ion-col col-4 class="center_col">
        <ion-row class="full_height">
          <span class="name_span">
            {{ 'number' | translate }}
          </span>
          <span class="detail_span">
            {{list.number}}
          </span>
        </ion-row>
      </ion-col>
      <ion-col col-5 class="right_col">
        <ion-row class="full_height">
          <span class="name_span">
            {{ 'due_date' | translate }}
          </span>
          <span class="detail_span">
            {{list.date}}
          </span>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="type_number_date">

      <ion-col col-3 *ngIf="!list.change_state">
        <ion-row class="full_height">
          <span class="name_span">
            {{ 'status' | translate }}
          </span>
          <span class="detail_span">
            {{ list.status | translate}}
          </span>
        </ion-row>
      </ion-col>

      <ion-col col-6 *ngIf="list.change_state">
        <ion-row class="full_height">
          <span class="name_span">
            {{ 'status' | translate }}
          </span>
          <mat-form-field class="matchange_state">
            <mat-select [(ngModel)]="list.status">

              <mat-option value="open">
                {{ 'open' | translate }}
              </mat-option>
              <mat-option value="close">
                {{ 'close' | translate }}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </ion-row>
      </ion-col>

      <ion-col col-4 *ngIf="!list.change_state">
      </ion-col>

      <ion-col col-1 *ngIf="list.change_state">
      </ion-col>

      <ion-col col-5 class="right_col">
        <ion-row class="full_height">
          <button ion-button class="mat-button change_button" *ngIf="!list.change_state" (click)="change_state(i)">
            {{ 'change_UP' | translate }}
          </button>
          <button ion-button class="mat-button change_button" *ngIf="list.change_state" (click)="save_state(i)">
            {{ 'save' | translate }}
          </button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="type_number_date">
      <ion-col col-6 *ngIf="!list.change_plan">
        <ion-row class="full_height">
          <span class="name_span">
            {{ 'plan' | translate }}
          </span>
          <span class="detail_span" *ngIf="!list.change_plan">
            {{ list.plan | translate }}
          </span>
        </ion-row>
      </ion-col>

      <ion-col col-6 *ngIf="list.change_plan">
        <ion-row class="full_height">
          <span class="name_span">
            {{ 'plan' | translate }}
          </span>
          <mat-form-field class="matchange_plan">

            <mat-select [(ngModel)]="list.plan" class="select_class" required>

              <mat-option value="saver1">
                {{ 'saver1' | translate }}
              </mat-option>
              <mat-option value="saver2">
                {{ 'saver2' | translate }}
              </mat-option>
              <mat-option value="saver3">
                {{ 'saver3' | translate }}
              </mat-option>
              <mat-option value="saver4">
                {{ 'saver4' | translate }}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </ion-row>
      </ion-col>
      <ion-col col-1>
      </ion-col>
      <ion-col col-5 class="right_col">
        <ion-row class="full_height">
          <button ion-button class="mat-button change_button" *ngIf="!list.change_plan" (click)="change_plan(i)">
            {{ 'change_UP' | translate }}
          </button>

          <button ion-button class="mat-button change_button" *ngIf="list.change_plan" (click)="save_plan(i)">
            {{ 'save' | translate }}
          </button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="bottom_image_row">
      <ion-row class="image_button_row">
        <ion-col col-3>
          <ion-row class="full_height" (click)="goto_callHistory()">
            <ion-row class="service_iconRow">
              <ion-icon class="serviceDetail_icon" name="ios-call-outline"></ion-icon>
            </ion-row>
            <ion-row class="servicespan_rpw">
              <span class="serviceDetail_span">
                {{ 'call' | translate }}
              </span>
            </ion-row>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row class="full_height" (click)="goto_topupHistory()">
            <ion-row class="service_iconRow">
              <ion-icon class="serviceDetail_icon" name="ios-git-network-outline"></ion-icon>
            </ion-row>
            <ion-row class="servicespan_rpw">
              <span class="serviceDetail_span">
                {{ 'topup' | translate }}
              </span>
            </ion-row>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row class="full_height" (click)="goto_serviceDetail()">
            <ion-row class="service_iconRow">
              <ion-icon class="serviceDetail_icon" name="ios-list-box-outline"></ion-icon>
            </ion-row>
            <ion-row class="servicespan_rpw">
              <span class="serviceDetail_span">
                {{ 'details' | translate }}
              </span>
            </ion-row>
          </ion-row>
        </ion-col>
        <ion-col col-3>
          <ion-row class="full_height" (click)="goto_serviceBundle()">
            <ion-row class="service_iconRow">
              <ion-icon class="serviceDetail_icon" name="ios-bug-outline"></ion-icon>
            </ion-row>
            <ion-row class="servicespan_rpw">
              <span class="serviceDetail_span">
                {{ 'bundles' | translate }}
              </span>
            </ion-row>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-row>

</ion-content>