page-my-services {
    .header_icon {
        margin: auto;
        font-size: 2.5rem;
    }
    .myservice-content {
        background-color: #fafafa;
    }
    .main-row {
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 2px;
        background-color: white;
    }
    .center-col {
        text-align: center
    }
    .service_back_style {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .margin-top {
        margin-top: 5%;
        margin-bottom: 3%;
    }
    .image-full-width ion-col {
        height: 100% !important;
    }
    .clear_button {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .serviceDetail-icon {
        padding-top: 15px;
        margin: auto;
        color: white;
    }
    .servicespan-row {
        padding-top: 8px;
    }
}