page-service-bundle {
    .header_class {
        background-color: white;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
    .header_span {
        color: black;
        font-weight: bold;
    }
    .pie_chart_class {
        width: 250px !important;
        height: 200px !important;
        margin: auto;
    }
    .normal_row {
        border-top: 2px solid #ddd;
        height: 45px;
    }
    .left_align {
        text-align: left;
    }
    .center_align {
        text-align: center;
    }
    .right_align {
        text-align: right;
    }
    .other_head_col {
        margin: auto;
        color: #00a39a;
        font-weight: bold;
    }
    .other_body_col {
        margin: auto;
        color: black;
        font-weight: bold;
        width: 100%;
    }
    .other_body_col.left_align {
        margin-left: 6px;
    }
    #AngularChart2 {
        width: 100%;
        height: 100%;
    }
    .raphael-group-3-creditgroup {
        display: none !important;
    }
    .chart-css {
        width: 100%;
        height: 200px;
        margin: 30px auto;
    }
}