page-service-bundle {
    .pie_chart_class {
        width: 250px !important;
        height: 200px !important;
        margin: auto;
    }
    .normal-row {
        border-top: 2px solid #ddd;
        height: 45px;
    }
    .other-head-col {
        margin: auto;
        color: #00a39a;
        font-weight: bold;
    }
    .other-body-col {
        margin: auto;
        color: black;
        font-weight: bold;
        width: 100%;
    }
    .other-body-col.left-col {
        margin-left: 6px;
    }
    #AngularChart2 {
        width: 100%;
        height: 100%;
    }
    .raphael-group-3-creditgroup {
        display: none !important;
    }
}