page-signup {
    .custom_header {
        height: 40px;
        position: fixed;
        top: 20px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
        margin-left: -16px;
        background-color: white;
    }
    .margin-content {
        background-color: #fafafa;
    }
    .logo-class {
        width: 70%;
        height: 100%;
        margin: auto;
    }
    .username-row {
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
    }
    .input_class {
        border-bottom: 1px solid #2e2e2e;
        margin-left: auto;
        margin-right: auto;
    }
    .login-row {
        margin-top: 10%;
    }
    .signup-row {
        margin-top: 10%;
        margin-bottom: 40px;
    }
}