page-signup {

    .header_class{
        box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.3);
        background-color: white;
    }
    .header_span{
        color: black;
        font-weight: bold;
    }
    .header_back_icon{
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5px;
        font-size: 2.5rem;
    }
    .payment_id{
        text-align: center;
        width: 100%;
        margin: auto;
    }

    .margin_content{
        background-color: #fafafa;
    }
    .logo_class{
        width: 70%;
        height: 100%;
        margin: auto;
    }
    .username_row{
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
    }
    .input_class{
        border-bottom: 1px solid #2e2e2e;
        margin-left: auto;
        margin-right: auto;
    }
    .password_row{
        margin-top: 3%;
        width: 90%;
        margin-left: 5%;
    }
    .login_row{
        margin-top: 10%;
    }
    .button_class{
        width: 90%;
        margin: auto;
        text-transform: initial;
        border-radius: 25px;
        background-color: #3a83a4;
        font-weight: bold;
        color: white;
        height: 45px;
        font-size: 20px;
    }
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
      
    .example-full-width {
        width: 100%;
    }
    .signup_row{
        margin-top: 10%;
    }
    .sign_up_span{
        margin: auto;
        font-size: 1.5rem;
    }
    .sign_up_page{
        color: blue;
        cursor: pointer;
    }

}
