page-pay-now {
    .button-style1 {
        height: 40px;
        font-size: 1.6rem;
    }
    .button-style2 {
        height: 40px;
    }
    .add-cancel {
        margin-top: 15%;
    }
    .payment-amount-span {
        color: #aaaaaa;
        font-weight: bold;
        width: 100%;
        font-size: 1.7rem;
    }
}