page-top-up {
    .header_class {
        background-color: white;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    }
    .header_row {
        height: 60px !important;
    }
    .header_span {
        color: black;
        font-weight: bold;
    }
    .payment_id {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    .main_row {
        padding-top: 0px !important;
        form {
            width: 100%;
            .payment_row {
                margin-top: 5%;
                .payment_title_span {
                    width: 100%;
                    font-size: 1.7rem;
                    color: #3982a3;
                    font-weight: bold;
                }
                .select_class {
                    width: 100%;
                    max-width: 100%;
                    font-size: 1.6rem;
                }
                .error_border {
                    border-bottom: 1px solid #f44336 !important;
                }
                .normal_border {
                    border-bottom: 1px solid #ddd;
                }
            }
            .cal_error {
                span {
                    color: #f44336;
                    font-size: 75%;
                    margin-top: .66667em;
                }
            }
            .mat-form-field {
                width: 100%;
            }
            .add_cancel {
                margin-top: 10%;
            }
            .button_style1 {
                border-radius: 25px !important;
                width: 100%;
                font-weight: bold;
                background-color: #3982a3;
                height: 40px;
            }
            .button_style2 {
                border-radius: 25px;
                width: 100%;
                font-weight: bold;
                background-color: #3ba464;
                height: 40px;
            }
            .add_button {
                width: 50%;
                margin: auto;
                text-transform: initial;
                margin-top: 5%;
            }
            .topup_calender {
                ion-col {
                    padding: 0px;
                }
                ion-datetime {
                    padding-left: 0px !important;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }
    .mat-icon-button {
        width: 4rem !important;
        height: 4rem !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
    .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
        width: 2rem !important;
        height: 2rem !important;
    }
}